

ion-col {
  flex: 0 0 auto;
 margin: 0.5ch;
  padding: 0;
 }

.field-date {
  width: 7ch;
  border-width: 0.5ch;
}

.field-start-km {
  width: 6ch;
  border-width: 0.5ch;
}

.field-end-km {
  width: 6ch;
  border-width: 0.5ch;
}

.field-description {
  width: 13ch;
  border-width: 0.5ch;
}

.field-amount {
  width: 6ch;
  border-width: 0.5ch;
}

.field-unit {
  width: 7ch;
  border-width: 0.5ch;
}

.field-price-unit {
  width: 7ch;
  border-width: 0.5ch;
}

.field-distance-unit {
  width: 14ch;
  border-width: 0.5ch;
}

@media screen and (min-width: 576px) {
  .field-description {
    width: 50vw;
  }
}

  @media screen and (min-width: 680px) {
    .field-description {
      width: 50vw;
    }


}

@media screen and (min-width: 768px) {
  .field-description {
    width: 30vw;
  }
}

@media screen and (min-width: 992px) {
  .field-description {
    width: 35vw;
  }

}

@media screen and (min-width: 1200px) {
  .field-description {
    width: 50vw;
  }

}

.fuel-station::after {
  content: "&#26FD\;";
}

.log-entry-delete {
  content: 'delete';
}
